<%- include("../partials/header") %>
  <%- include("../partials/navbar") %>

    <main class="container">
      <%- include("../partials/flash") %>
            <div class="col-lg-6 mx-auto">
              <div class="card mx-auto" style="width: 26rem">
                <img src="<%= product.image%>" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">
                    <%=product.name%>
                  </h5>
                  <p class="card-text">
                    <%=product.desc%>
                  </p>
                  <h5 class="card-title">
                    Weight: <%=product.weight%> Kgs
                  </h5>
                  <% if(currentUser&&currentUser.username==='admin'){ %> 
                    <form class="d-inline-block" action="/cart/<%=product._id%>/add" method="POST">
                      <button href="#" class="btn btn-success btn-small">Add to Cart</button>
                    </form>
                    <% if(currentUser.username==='admin'){ %>
                      <a href="/products/<%=product._id%>/edit" class="btn btn-info btn-small">Edit</a>
                      <form class="d-inline-block" action="/products/<%= product._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger btn-small">Delete</button>
                      </form>
                    <% } %>
                  <% }else{ %> 
                    <a href="/login" class="btn btn-info btn-small">Login to Buy</a>
                  <% } %> 
                </div>
              </div>
          </div>
    </main>

    <%- include("../partials/footer") %>